extends layout

block content
	div.row
		include author
	each article in articles
		// metadata gets the article's yaml front-matter
		if article.metadata.home
			div.row
				article.article.large-12.columns
					section.content!= typogr(article.html).typogrify()
