extends layout

block content
	- var articles = env.helpers.getArticles(contents)
	- var i = 0
	include author
	each article in articles
		if article.metadata.isProject
			- i++
			article.article.intro
				header.row
					p.date
						span= moment.utc(article.date).format('MM.DD.YYYY')
					h2
						a(href=article.url)= article.title
				section.content.row
					| !{ typogr(article.intro).typogrify() }
					if article.hasMore
						a(href=article.url) MORE
		if i == 20
			- break

	//a(href='/archive.html') « Archives

